*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
body{
  font-family: 'Raleway', sans-serif;
}

p{
  font-size: 0.8rem;
}
h2{
  font-size: 1.5rem;
}

              /* HEADER */

.contlogo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contlogo a{
  width: 30%;
}
.logoheader{
  width: 100%;
  padding: 2%;
}

.field{
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  width: 85%;
}

.field__input{
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #e1e2e3;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: 1em;
}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
  opacity: 1;
}

/*
=====
LEVEL 2. CORE STYLES
=====
*/

.a-field{
  display: inline-block;
}

.a-field__input{
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.a-field__input:focus{
  outline: none;
}

/*
=====
LEVEL 3. PRESENTATION STYLES
=====
*/

/* a-field */

.a-field{
  --uiFieldHeight: var(--fieldHeight, 40px);
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1em);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1em;
}

.a-field .a-field__input{
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
}

.a-field .a-field__input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.a-field .a-field__input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.a-field .a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label{
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
}

.a-field .a-field__input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.a-field .a-field__input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.a-field .a-field__label-wrap{
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight);

  pointer-events: none;
  cursor: text;

  position: absolute;
  bottom: 0;
  left: 0;
}

.a-field .a-field__label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: calc(50% - .5em);
  color: #e1e2e3;

  line-height: 1;
  font-size: var(--uiFieldHintFontSize);

  pointer-events: none;
  transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
  will-change: bottom, opacity;
}

.a-field .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
  opacity: 1;
  bottom: var(--uiFieldHeight);
}

/* a-field_a1 */

.a-field_a1 .a-field__input{
  transition: border-color .2s ease-out;
  will-change: border-color;
}

.a-field_a1 .a-field__input:focus{
  border-color: var(--fieldBorderColorActive);
}

/* a-field_a2 */

.a-field_a2 .a-field__label-wrap:after{
  content: "";
  box-sizing: border-box;
  width: 0;
  height: var(--uiFieldBorderWidth);
  background-color: var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;

  will-change: width;
  transition: width .285s ease-out;
}

.a-field_a2 .a-field__input:focus ~ .a-field__label-wrap:after{
  width: 100%;
}

/* a-field_a3 */

.a-field_a3{
  padding-top: 1.5em;
}

.a-field_a3 .a-field__label-wrap:after{
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;

  opacity: 0;
  border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;

  will-change: opacity, height;
  transition: height .2s ease-out, opacity .2s ease-out;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap:after{
  height: 100%;
  opacity: 1;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
  bottom: calc(var(--uiFieldHeight) + .5em);
}

/*
=====
LEVEL 4. SETTINGS
=====
*/

.field{
  --fieldBorderColor: #D1C4E9;
  --fieldBorderColorActive: #673AB7;
}

.barraiconos{
  padding-top: 2%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
}
.barraiconos ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fotoperfil{
  width: 50px;
  border: 2px black solid;
  border-radius: 50%;
  height: 50px;
}
.iconitos{
  font-size: 1.8rem;
  margin: 0;
}
.iconitos a{
  color: #e1e2e3;
}
.iconitos a:hover{
  color: #673ab7;
}
.cerrarsesion{
  font-size: 1.8rem;
  margin: 0;
}
.cerrarsesion a{
  color: #e64040;
}
.cerrarsesion a:hover{
  color: #b30000;
}

.menudesp li a:hover{
  font-weight: bold;
}


          /* CAROUSEL */
.carouselhome{
  display: none;
}

        /* SEGUNDA SECCION */

.seg-item img{
  width: 99%;
  filter: grayscale(80%)
}
.seg-item img:hover{
  filter: grayscale(0)
}

        /* TERCERA SECCION */
.sobrenosotros{
  background-image: url(../images/bannerverdura.jpg);
  background-size: cover;
}
.fa-utensils{
  font-size: 1.5rem;
}
.sobrenosotros p{
  background-color:rgba(0,0,0,.8);
  font-size: 1.1em;
}

        /* CUARTA SECCION */
.productosmasvendidos{
  width: 85%;
}
._imagenprod{
  width: 60%;
}
.fa-cart-arrow-down{
  font-size: 2rem;
}
.fa-piggy-bank{
  font-size: 2rem;
}
.contendor-prod3{
  display: none;
}
.contendor-prod4{
  display: none;
}

/**      FOOTER        **/
footer{
  /* background-color: #202428; */
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 3%;
  padding: 2% 0 0 0;
  }
footer ul{
  list-style-type: none;
  padding: 0;
}
footer li{
  padding: 1%;
}
footer a{
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}
footer a:hover{
  color: #673ab7;
}
.contacto{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-block-end: solid 1px grey;
  border-block-start: solid 1px grey;
  margin: 5% 0 5% 0;
}
.contacto i{
  margin-right: 2%;
}
.ubic{
  font-size: 0.8rem;
}
.sobrenos{
  text-align: center;
}
.redes{
  text-align: center;
}
.redes img{
  width: 35%;
  margin-bottom: 5%;
  margin: 0 auto 3%;
}
.titfooter{
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  padding-top: 3%;
  }
.redesa{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  }
  .redesa a{
    font-size: 250%;
  }
  .newsletter{
    margin: 0 7% 5% 7%;
  }

.registro{
  margin-top:190px;
}
                  /* REGISTER Y SIGN IN */

._registrate{
  border: 1px solid #b3b5b66e;
}

          /* INDEX PRODUCTOS */
.preciofinal{
  margin: 5px 0px;
  background-color: #343a40;
  color: #fefefe;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bolder;
  border-radius: 15px;
}
.pagination{
  width: 50%;
  display: flex;
  justify-content: center;
}
.page-item{
  margin: 0;
}
._producto{
  position: relative;
}
.cincuenta{
  width: 30%;
  position: absolute;
  top: -5px;
  right: -21px;
}
._imgproducto{
  display: flex;
  justify-content: center;
    height: 200px;
}
._imgproducto img{
    max-height: 200px;
    width: 70%;
}


@media (min-width:768px){
  p{
    font-size: 1rem;
  }
  .barranav{
    padding-left: 15px;
  }
  .menudesp{
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

        /* CUARTA SECCION */
  .contendor-prod3{
    display: block;
  }

  /* REGISTRO Y LOGIN */

  .registro{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
  }

  .login{
    width: 50%;
    padding: 30px;
  }

            /* REGISTER Y SIGN IN */


  .register{
    border-top-style: none;
    border-left-style: solid;
    border-color: grey;
    width: 50%;
    padding: 30px;
  }

  .seg-seccion-gnrl article{
    width: 24%;
  }

  .productosmasvendidos article{
    width: 20%;
  }
  .contendor-prod3{
    display: block;
  }
  .contendor-prod4{
    display: block;
  }

  /**      FOOTER        **/
    footer{
      flex-direction: row;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .sobrenos{
      width: 30%;
    }
    .contacto {
      width: 36%;
      border-inline-end: solid 1px grey;
      border-inline-start: solid 1px grey;
      border-block-end: none;
      border-block-start: none;
      margin: 0 auto;

    }
    .redes{
      width: 30%;
    }
    .redes img{
      width: 65%;
    }
    .titfooter {
    font-weight: bold;
    }
  }


@media (min-width:992px){
  .contlogo a{
    width: 65%;
  }
  .buscador{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .page{
    width: 100%;
  }
  .barraiconos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .iconos{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .carouselhome{
    display: block;
  }
      /* CUARTA SECCION */
  .contendor-prod4{
    display: block;
  }
  .redes img{
    width: 50%;
  }
}
